@font-face{
    font-family: "devon";
    src: url("../font/Devonshire-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "segoe";
    src: url("../font/Segoe_Print.ttf") format("truetype");
}
@font-face{
    font-family: "segoe-bold";
    src: url("../font/Segoe_Print_Bold.ttf") format("truetype");
}
@font-face{
    font-family: "kaushan";
    src: url("../font/KaushanScript-Regular.ttf") format("truetype");
}
@font-face{
    font-family: "croissant";
    src: url("../font/CroissantOne-Regular.ttf") format("truetype");
    src: url("../font/CroissantOne-Regular.otf") format("opentype");
}
@font-face{
    font-family: "noto";
    src: url("../font/NotoSerif-Regular.ttf") format("truetype");
    src: url("../font/NotoSerif-Italic.ttf") format("truetype");
    src: url("../font/NotoSerif-BoldItalic.ttf") format("truetype");
    src: url("../font/NotoSerif-Bold.ttf") format("truetype");
}
@font-face{
    font-family: "dancing";
    src: url("../font/Dancing.ttf") format("truetype");
}